@page
@model WebApp.Pages.Control.Index


<a asp-page="./Pets/Index">Pets</a>
<a asp-page="./Interests/Index">Interests</a>
<a asp-page="./PetInterests/Index">PetInterests</a>
<a asp-page="./Likes/Index">Likes</a>
<a asp-page="./Follows/Index">Follows</a>