@page
@model WebApp.Pages_Control_Follows.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Follow</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Follow.Follower)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Follow.Follower!.Animal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Follow.Followed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Follow.Followed!.Animal)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Follow.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
